body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
a {
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #434455;
}

ul {
  list-style: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-span {
  color: #2e2f42;
}
.footer-logo-span {
  color: #f4f4fd;
}

.menu-nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list-link:hover,
.list-link:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-list a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
  text-decoration: none;
}
.hero-section {
  background-color: #2e2f42;
}
.btn {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.team-section {
  background-color: #f4f4fd;
}
.team-card {
  background-color: #ffffff;
}
.team-text {
  font-size: 16px;
}
footer {
  background-color: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
}
